* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul, ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  color: #fff;
}
button:hover {
  background: #6c8cff;
}
input {
  font-family: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0 24px;
}
h1, h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
li, input, label, button, p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.categories-list {
  padding: 16px;
}
.categories-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
  margin-bottom: 24px;
}
.categories-list-item-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}
.categories-list-item-list-item {
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 6px 8px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 24px;
}
.gallery li {
  flex: 0 0 calc(33.33% - 16px);
  margin-bottom: 48px;
  box-sizing: border-box;
}
.gallery-img {
  width: 100%;
  height: auto; 
  object-fit: cover;
  display: block;
}
.input-text {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin: 16px 0;
}
.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 152px;
}
.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.login-form label:hover {
  color: #2e2f42;
}
.login-form label:active {
  color: #2e2f42;
  
}
.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
}
.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin: 88px 100px;
}
.controls {
display: flex;
flex-direction: row;
justify-content: center;
gap: 16px;
background: #f6f6fe;
width: 486px;
margin-bottom: 16px;
border-radius: 8px;
}
.controls input{
  text-align: center;
  padding: 8px 0;
  width: 150px;
  border: 1px solid #808080;
border-radius: 8px;
margin: 32px 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.controls button{
  padding-left: 32px;
  padding-right: 32px;
  margin: 32px 0;
}
.boxes {
  background: #f6f6fe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 44px;
  border-radius: 8px;
}
.button-destroy{
  background: #ff4e4e;
}
.button-destroy:hover{
  background: #ff7070;
}